h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

@font-face {
    font-family: "Buduj Sans TRIAL";
    src: local("BudujSansTRIAL-Black")
         url('../font/BudujSansTRIAL-Black.otf') format ("opentype");
    font-family: "e-Ukraine";
    src: local("e-Ukraine-Light")
         url('../font/e-Ukraine-Light.otf') format ("opentype");
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    margin: 0;
    padding: 0;
    font-family: "e-Ukraine";
    font-size: 14px;
}
.container {
    max-width: 1420px;
    margin: 0 auto;
}

header {
    padding-top: 70px;
    background: url('../img/mainfon.jpg') no-repeat top center / cover !important;
    padding-top: 220px;
    padding-bottom: 225px ;
}
nav {
    display: flex;
    align-items: center;
    margin-bottom: 220px;
    
}
.main_menu {
    display: flex;
    font-size: 18px;
    margin-left: 400px;
}
.main_menu li {
    margin-right: 65px;
}
input[type="search"] {
    padding: 10px;
    font-size: 14px;
    
}
.search-icon {
    position: absolute;
    left: 228px;
    top: 68px;
}
.header_title {
    position: relative;
    left: 255px;
    font-size: 60px;
    tab-size: 170px;
    width: 50%;
    padding-bottom: 220px;
    font-family: "Buduj Sans TRIAL";
}
.header_desc {
    position: absolute;
    right: 465px;
    top: 267px;
    width: 10%;
    z-index: 9;
    font-size: 60px;
    tab-size: 170px;
    font-weight: bold;
    font-family: "Buduj Sans TRIAL";
}    
.header_subtitle {
 text-align: center;
 font-size: 24px;
}
.btn {
   display: block;
    text-align: center;
    width: 180px;
    padding: 15px 8px;
    border-radius: 100px;
    background-color: #fff15f;
    margin: 0 auto; 
}
.offer-text{
    display: flex;
    justify-content: space-between;
}
.left  {
    max-width: 500px;
}
.right  {
    max-width: 500px;
}
.left img{
    width: 550px;
}
.about_title{
    text-align: left;
    font-size: 60px;
}
.right{
    text-align: center;
    font-size: 40px; 
}
.btn{
    display: block;
    text-align: center;
    width: 280px;
    border-radius: 100px;
    background-color: #fff15f;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
}
header, 
.towers {
    padding-top: 50px;
    
}
.top{
    padding-top: 50px;
}
.header_Page{
    text-align: center;
    font-size: 30px;
}
.Veb{
    text-align: center;
    font-size: 25px;
}
.card {
    display: flex;
    justify-content: space-between;
}
.about_title {
    font-family: "Buduj Sans TRIAL";
    font-size: 40px;
}
.had {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    line-height: 3;
}
.had p {
    font-size: 18px;
}
.towers {
    padding-top: 100px;
    padding-bottom: 150px;
}
.Veb{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    margin-left:auto;
}
.top{
    padding-top: 100px;
    padding-bottom: 150px;
} 
.last{
    padding-top: 50px;
    background: url('/img/Фон2.jpg') no-repeat top center / cover
    /*text-align: right;*/
}
.top_news {
    display: flex;
    justify-content: space-between;
}
.Three_title {
    font-size: 50px;
    font-family:cursive;
}
* { 
    box-sizing:border-box
}
.places_header {
    font-family: "Buduj Sans TRIAL";
    font-size: 40px;
}

/*Слайдер*/
.slider_container {
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 100px;
}
.places_slider {
    display: flex;
    justify-content: center;
}
.places_item {
    position: relative;
    margin-right: 10px;
    width: 364px !important;
}
.about {
   display: block;
   width: 88px;
   margin-left: auto;
}
.about:hover {
    border-bottom: 1px solid #000;
}
.places_item:last-child {
    margin-right: 0;
}
.places_img img {
    width: 100%;
}
.places_text {
    position: absolute;
    left: 15px;
    bottom:15px;
    z-index: 99;
    width: 336px;
    color: #fff;
    font-size: 12px;
}
.places_text h5 {
    font-size: 16px;
}
.slider_dots .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider_dots .slick-dots li {
	margin: 0 10px 0 0;
}
.slider_dots .slick-dots button {
	display: block;
	width: 10px;
	height: 10px;
    line-height: 10px;
	padding: 0;
	border: none;
	border-radius: 100%;
	background-color: #D9D9D9;
	text-indent: -9999px;
}
.slider_dots .slick-dots li.slick-active button {
	background-color: #FEE45C;
}
.slider_controlls {
    margin-top: 45px;
}
.slider_buttons {
   text-align: center;
   position: relative;
}
.slick-next {
    position: absolute;
    right: 505px;
    bottom: -20px;
    background: url('../img/arrow_right.jpg') no-repeat;
}
.slick-prev {
    position: absolute;
    left: 535px;
    bottom: -20px;
    background: url('../img/arrow_left.png')no-repeat;
}
.slick-next, .slick-prev {
    padding: 0;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 0;
    border: none;
    color: inherit;
}

/*Про проєкт лічильник*/

.counter{
    display: flex;
    justify-content: space-between;
}
.counter_item {
    max-width: 240px;
    font-size: 25px;
    position: relative;
}
.counter_item h5 {
    font-size: 25px;
    color: #FEE45C;
}
.counter_item p {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    letter-spacing: 2.16px; 
}
.counter_item .point {
    width: 21px;
    height: 21px;
    background-color: #FEE45C;
    border-radius: 100%;
   /* border-bottom:#000;*/
}
.counter_item::after {
    content: '';
    display: block;
    width: 370px;
    color: #D9D9D9;
    position: absolute;
    border: 1px solid #D9D9D9;
    left: 19px;
    bottom: 10px;
}
<<<<<<< HEAD
.div .counter_item {
    font: 800 40px system-ui;

    /*Галерея*/

}
.gallery_title{
    text-align: left;
    font-size: 40px; 
    margin: 0% auto;
}=======
.counter_item:last-child {
    overflow-x: hidden;
>>>>>>> b03a326a1a313ef90981257888533542356dba1c
}